.App {
  text-align: center;
}
.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
}
/* write your parent styles in here for your App.js */

.characters-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.character-card {
  width: 400px;
  height: auto;
  background-color: white;
  padding: 20px;
  margin: 20px 0;
  background-image: url("https://us.123rf.com/450wm/vectortatu/vectortatu1608/vectortatu160800282/61855334-stock-vector-warp-stars-galaxy-vector-illustration-zoom-in-light-speed-space.jpg?ver=6");
  display: flex;
}

.char-content {
  width: 50%;
  padding: 5px;
  background-color: black;
  /* opacity: 0.8; */
}

h3 {
  text-align: left;
  color: White;
  font-size: 26px;
}

.list {
  text-align: left;
  line-height: 1.5;
  list-style-type: none;
  padding:0;
  color: white;
}